{% extends "base.html.twig" %}

{% block title %}
	{{seance.film.Title}}
{% endblock %}

{% block body %}
	<link rel="stylesheet" href="\css\listeFilm.css">
	<div class="cardF">

		<h2>{{seance.film.Title}}</h2>


	</div>
{% endblock %}
