{% extends "base.html.twig" %}
{% block title %}Ajout Film
{% endblock %}
{% block body %}

	<div class="formFilm">

		<form action="{{ path('AjoutFilm')}}" method="Post" class="formFilm">

			<label for="Titre">Titre du Film :</label>
			<input type="text" name="TitreFilm" required="required">

			<label for="Synopsis">Synopsis :</label>
			<input type="text" name="Synopsis" required="required">

			<label for="realisateur">Realisateur :</label>
			<input type="text" name="realisateur" required="required">

			<label for="genre">Genre :</label>
			<input type="text" name="genre" required="required">

			<label for="duree">Duree :</label>
			<input type="text" name="duree" required="required">

			<input type="submit" value="valider"/>


		</form>

	</div>


{% endblock %}
