*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color: #FFB273;
}


.navbar{
    display: flex;
    background-color:#009999;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    font-family: cursive;
    font-size: 1.8em;
}

.navbar >nav> a{
   color: #FF7400;
   
   margin-right: 15px;
   margin-left: 15px;
}

a {
    text-decoration: none;
  }