{% extends "base.html.twig" %}

{% block title %}Accueil
{% endblock %}


{% block body %}
	<div style="">
		<div>Bienvenu au cinéma du coin !</div>
		<div>Des films à découvrir chaque jour !</div>
	</div>
{% endblock %}
