<nav>
	<a href="{{path('accueil')}}" style='margin-right : 50px ; color:magenta'>Accueil</a>
	<a href="{{path('listingFilms')}}">Films</a>
	<a href="" style='margin-left : 50px ; color:magenta'>Ajouter un film</a>
</nav>
